body{
    margin: 0px;
    padding: 0;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(imagenes/consolas.jpg);
}
.Titulo{
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
    text-shadow: 4px 4px black;

}
.search{
    display: grid;
    justify-items: center;
    
}

